# Ignore build directories and files
/cmake-build-debug
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/Testing/
/build.ninja
/.ninja_deps
/.ninja_log
/.idea

# Ignore executables
/bin/your_executable

# Ignore temporary files
*.log
*.tmp

# Ignore object files
*.o

# Ignore system files
.DS_Store
Thumbs.db

# Ignore backup files
*~
*.swp
